<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid' ">
			<div class="kt-portlet__head kt-portlet__head--lg">
				<div class="kt-portlet__head-label">
							<span class="kt-portlet__head-icon">
								<i class="kt-font-brand flaticon2-line-chart"></i>
							</span>
					<h3 class="kt-portlet__head-title">
						PRS Works
						<small>the highest scored works</small>
					</h3>
				</div>
				<div class="kt-portlet__head-toolbar ">
					<button mat-raised-button
							color="accent"
							class="pulsingButton"
							style="margin-right: 1.3rem;"
							[routerLink]="['/author/submission']">Submit Work</button>


					<button mat-raised-button
							color="primary"
							style="background-color: #6B39B6;"
							[routerLink]="['/auth/login']">Login</button>
				</div>
			</div>

			<kt-portlet-body [class]="'kt-portlet__body--fit'" style="height:100%; max-height: 100%">

					<!--begin: Datatable -->
<!--					<kt-work-list></kt-work-list>-->
				<kt-portlet>
					<kt-portlet-body>

						<!-- start::FILTERS & GROUP ACTIONS -->
						<div class="kt-form kt-margin-b-30">
							<!-- start::FILTERS -->
							<div class="row align-items-center">
								<div class="col-md-2 kt-margin-bottom-10-mobile">

									<mat-form-field>
										<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
									</mat-form-field>
								</div>
							</div>
						</div>
						<!-- end::FILTERS -->

						<!--        <div class="mat-elevation-z8">-->
							<table mat-table [dataSource]="dataSource" matSort
								   matSortDirection="desc"
								   matSortActive="Score"
							>

								<!-- Tag Column -->
								<ng-container matColumnDef="Tags">
									<th mat-header-cell *matHeaderCellDef mat-sort-header> Category</th>
									<td mat-cell *matCellDef="let row"> {{row.Tags[0] }}</td>
								</ng-container>

								<!-- Title -->
								<ng-container matColumnDef="Title">

									<th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
									<td mat-cell *matCellDef="let row">
<!--										<a href="javascript:;">{{row.Title}}</a>-->
										<a href="{{row.URL}}" target="_blank">{{row.Title}}</a>

										<span class="mdc-chip-set">
							<span *ngFor="let tag of row.Tags | slice:1"
								  class="mdc-chip demo-chip-shaped"
							>
								<span class="mdc-chip__text">{{tag}}</span></span>
						</span>

									</td>

								</ng-container>

								<!-- AuthorName Column -->
								<ng-container matColumnDef="AuthorName">
									<th mat-header-cell *matHeaderCellDef mat-sort-header> Author Name(s)</th>
									<td mat-cell *matCellDef="let row"> {{row.AuthorName}} </td>
								</ng-container>

								<!-- Score Column -->
								<ng-container matColumnDef="Score">
									<th mat-header-cell *matHeaderCellDef mat-sort-header
									> Score</th>
									<td mat-cell *matCellDef="let row"> {{row.Score}} </td>
								</ng-container>

								<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;">
								</tr>
							</table>


							<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
					</kt-portlet-body>
				</kt-portlet>


					<!--end: Datatable -->
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

