<kt-portlet [class]="'kt-portlet--height-fluid'">
	<kt-portlet-header [title]="'Assignment History'">
	</kt-portlet-header>
	<kt-portlet-body>
		<div *ngIf="dataSource.data; else loadingMessage"
			perfectScrollbar [ngStyle]="{'max-height': '43vh', 'position': 'relative'}"
			 class="mat-table__wrapper mat-table__wrapper--dashboard mb-4">
			<!--			<table mat-table [dataSource]="dataSource" matSort>-->
			<table mat-table [dataSource]="dataSource " matSort>

				<!-- Work Id Column -->
				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> id</th>
					<td mat-cell *matCellDef="let row"> {{row.WorkID}}</td>
				</ng-container>

				<!-- Title -->
				<ng-container matColumnDef="Title">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
					<td mat-cell *matCellDef="let row">
						{{row.Title}}
					</td>
				</ng-container>

				<!--		Date Assigned-->
				<ng-container matColumnDef="DateAssigned">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Date Assigned</th>
					<td mat-cell *matCellDef="let row">
<!--						<span style="margin-left: 6px">-->
<!--							{{row.DateAssigned}}-->
<!--						</span>-->
						{{row.DateAssigned}}
					</td>
				</ng-container>

				<!--		Due Date-->
				<ng-container matColumnDef="DueDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date</th>
					<td mat-cell *matCellDef="let row">
<!--						<span style="margin-left: 6px">-->
<!--							{{row.DueDate}}-->
<!--						</span>-->
						{{row.DueDate}}

					</td>
				</ng-container>

				<!--		Actions-->
				<ng-container matColumnDef="Action">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
					<td mat-cell *matCellDef="let row"><a href="">View</a></td>
				</ng-container>


				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;">
				</tr>
			</table>


			<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div>

	</kt-portlet-body>
</kt-portlet>

<ng-template #loadingMessage>
	<h4 class="text-center my-5">There is currently no assigments</h4>
</ng-template>
