<div class="container mt-4" *ngIf="dataSource.data.length>0; else noReviewers">
	<div perfectScrollbar [ngStyle]="{'max-height': '43vh', 'position': 'relative'}"
		 class="mat-table__wrapper mat-table__wrapper--dashboard mb-4">
		<table mat-table [dataSource]="dataSource">

			<!-- ID Column -->
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef> ID</th>
				<td mat-cell *matCellDef="let row"> {{row.ReviewerID}}</td>
			</ng-container>

			<!-- Reviewer -->
			<ng-container matColumnDef="Reviewer">

				<th mat-header-cell *matHeaderCellDef> Reviewer</th>
				<td mat-cell *matCellDef="let row">{{row.ReviewerName}}</td>
			</ng-container>

			<!-- Role -->
			<ng-container matColumnDef="Role">

				<th mat-header-cell *matHeaderCellDef> Role</th>
				<td mat-cell *matCellDef="let row">{{row.Role}}</td>
			</ng-container>


			<!-- Due Date Column -->
			<ng-container matColumnDef="DueDate">
				<th mat-header-cell *matHeaderCellDef> Due Date</th>
				<td mat-cell *matCellDef="let row"> {{row.DueDate}} </td>
			</ng-container>

			<!--			Status Column-->
			<ng-container matColumnDef="Status">
				<th mat-header-cell *matHeaderCellDef> Status</th>
				<td mat-cell *matCellDef="let row">
					<span
						class="kt-badge kt-badge--lg kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(row.DueDate) }} kt-badge--wide">{{ getItemStatusString(row.DueDate) }}</span>
				</td>
			</ng-container>

			<!--			Action-->
			<ng-container matColumnDef="Action" style="margin-left: 40px">
				<th mat-header-cell *matHeaderCellDef> Action</th>
				<td mat-cell *matCellDef="let row">
					<button mat-button
							color="primary"
							[hidden]="row.DueDate<currentDate==false"
							(click)="switchUser(row)"
					>Switch Reviewer
					</button>

					<button mat-button
							color="primary"
							[hidden]="showButton==false"
							(click)="reassignReviewer(row)"
					>Switch Reviewer
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;">
			</tr>
		</table>
	</div>
</div>

<ng-template #noReviewers >
	<div class="d-flex justify-content-center">
		<h5 class="pt-4">Please add 4 reviewers and 1 lead reviewer for the assignment</h5>

	</div>
</ng-template>
