mat-expansion-panel-header{
	background: rgba(0, 0, 0, 0.04);
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
		background: rgba(0, 0, 0, 0.04);

}
