<div
	*ngIf="scorecards; else admin_review"
	class="border" style="padding: 0 10px; font-weight: 500">
	<div class="row justify-content-start border-bottom bg-light">
		<div class="col-sm py-3 align-self-center">Reviewer Name</div>
		<div class="col-sm py-3 align-self-center">Role</div>
		<div class="col-sm py-3 align-self-center">Credential</div>
		<div class="col-sm py-3 align-self-center">
			<div class="d-flex justify-content-center">
				<span>
					Individual Score
				</span>
			</div>
		</div>
	</div>

<!--	 body-->
	<div class="row justify-content-start mb-1 ws_body" *ngFor="let scorecard of scorecards">
		<div class="col-sm align-self-center">{{scorecard.ReviewerName}}</div>
		<div class="col-sm align-self-center">{{scorecard.Role}}</div>
		<div class="col-sm align-self-center">{{scorecard.Credential}}</div>
		<div class="col-sm align-self-center">
			<div class="d-flex justify-content-center">
				<span>
					{{getTotalScore(scorecard)}}
				</span>
			</div>
		</div>
	</div>
	<div class="row justify-content-start border-top ws_body">
		<div class="col-sm-7 text-right"></div>

		<div class="col-sm-2 text-right overall border">
			Overal Score:
		</div>

		<div class="col-sm-3 overall border">
			<div class="d-flex justify-content-center">
				<span>
					{{overallScore}}
				</span>
			</div>
		</div>

	</div>

</div>

<ng-template #admin_review>
	<div
		class="border" style="padding: 0 10px; font-weight: 500">
		<div class="row justify-content-start border-bottom bg-light">
			<div class="col-sm py-3 align-self-center">Reviewer Name</div>
			<div class="col-sm py-3 align-self-center">Role</div>
			<div class="col-sm py-3 align-self-center">Date Reviewed</div>
			<div class="col-sm py-3 align-self-center">
				<div class="d-flex justify-content-center">
				<span>
					Reject Note
				</span>
				</div>
			</div>
		</div>

		<!--	 body-->
		<div class="row justify-content-start mb-1 ws_body">
			<div class="col-sm align-self-center">{{adminReview['AdminName']}}</div>
			<div class="col-sm align-self-center">Admin</div>
			<div class="col-sm align-self-center">{{adminReview['DateReviewed']}}</div>
			<div class="col-sm align-self-center">
				<div class="d-flex justify-content-center">
				<span>
					{{adminReview['RejectNote']}}
				</span>
				</div>
			</div>
		</div>

	</div>

</ng-template>


