<!--<div class="row">-->
<!--	<div class="col-lg-6" id="myDiv">-->
<!--		<div class="kt-portlet">-->
<!--			<div class="kt-portlet__head">-->
<!--				<div class="kt-portlet__head-caption">-->
<!--					<div class="kt-portlet__head-title">-->
<!--						<span class="kt-portlet__head-icon kt-hide">-->
<!--							<i class="la la-gear"></i>-->
<!--						</span>-->
<!--						<h3 class="kt-portlet__head-text">-->
<!--							Review Material-->
<!--						</h3>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="kt-portlet__head-toolbar">-->
<!--					<button (click)="openInFullScreen()" *ngIf="!isFullscreen" type="button"-->
<!--							class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown"-->
<!--							aria-haspopup="true" aria-expanded="false">-->
<!--						<i class="flaticon2-arrow-1"></i>-->
<!--					</button>-->

<!--					<button (click)="exitFromFullScreen()" *ngIf="isFullscreen" type="button"-->
<!--							class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown"-->
<!--							aria-haspopup="true" aria-expanded="false">-->
<!--						<i class="flaticon2-size"></i>-->
<!--					</button>-->
<!--				</div>-->
<!--			</div>-->
<!--			&lt;!&ndash;begin::Form&ndash;&gt;-->
<!--			<form class="kt-form">-->
<!--				<div class="kt-portlet__body">-->
<!--					<div class="kt-form__section kt-form__section&#45;&#45;first">-->
<!--						<iframe-->
<!--							src="https://www.latimes.com/projects/marshall-islands-nuclear-testing-sea-level-rise/#nt=liH0promoSmall-7030col2"-->
<!--							width=100% height=1000>-->
<!--							<p>Your browser does not support iframes.</p>-->
<!--						</iframe>-->
<!--					</div>-->
<!--				</div>-->
<!--				​-->
<!--			</form>-->
<!--			&lt;!&ndash;end::Form&ndash;&gt;-->
<!--		</div>-->
<!--		​-->
<!--		​-->
<!--	</div>-->
<!--	<div class="col-lg-6">-->
<!--		<div class="kt-portlet">-->
<!--			<div class="kt-portlet__head">-->
<!--				<div class="kt-portlet__head-caption">-->
<!--					<div class="kt-portlet__head-title">-->
<!--						<span class="kt-portlet__head-icon kt-hide">-->
<!--							<i class="la la-gear"></i>-->
<!--						</span>-->
<!--						<h3 class="kt-portlet__head-text">-->
<!--							Summary-->
<!--						</h3>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="kt-portlet__body">-->
<!--				<work-summary [wid]="'30'"></work-summary>-->
<!--				​-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
